* {
    padding: 0px;
    margin: 0px;
    background-color: rgb(185, 191, 197);
  }
  #app{
    position: relative;
  }
  #ball {
    height: 20px;
    width: 20px;
    position: fixed;
    border-radius: 50%;
    background-color: rgb(117, 89, 11);
    left: 60%;
    top: 20px;
  }
  #bar-1 {
    height: 20px;
    display: flex;
    justify-content: center;
    width: 150px;
    background-color: rgb(199, 89, 221);
    border-radius: 10px;
    position: fixed;
    font-weight: bold;
    top: 0%;
    left: 50%;
  }
  #bar-2 {
    height: 20px;
    width: 150px;
    background-color: rgb(187, 117, 76);
    border-radius: 10px;
    position: fixed;
    display: flex;
    justify-content: center;
    font-weight: bold;
    bottom: 0%;
    left: 50%;
  }